<div id="intro" class="span12 offset1">
  {{space.summary}}
</div>

<div id="filter-bar">
  <a href="{{space.permalink}}.atom" title="feed for {{space.title}}" class="feed">subscribe to rss</a>
  <div id="order-by">
    Order by:
    <a href="{{space.permalink}}" title="show recipes in date order" class="btn {% if filter == "own" %}{% else %}{% if sort == "likes" %}{% else %}active{% endif %}{% endif %}">date</a>
    <a href="{{space.permalink}}?sort=likes" title="show most popular recipes first" class="btn {% if sort == "likes" %}active{% endif %}">popular</a>
    {% if current_user %}<a href="{{space.permalink}}?filter=own" title="show my recipes" class="btn {% if filter == "own" %}active{% endif %}">mine</a>{% endif %}
  </div>
</div>

{% if space.ideas != empty %}
  <div id="recipes-list" class="block">

  {% for idea in space.ideas %}
    <div class="teaser">
      <a href="{{idea.permalink}}" title="link to page for {{idea.title}}"><img src="{{idea.images.first.medium}}" alt="photograph for {{idea.title}}" class="main-image {{idea.custom2}}" /></a>
      <div class="meta">
        <div class="time">{{idea.custom1}} minutes</div>
        <div class="difficulty {{idea.custom2}}">{{idea.custom2}}</div>
        {% if idea.liked? %}
          <span class="liked">{{idea.likes}}</span>
        {% else %}
          <div class="likes" the_link="{{idea.like_link}}"><span class="likecount">{{idea.likes}}</span></div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  

  <div>
{% else %}

<div class="empty">
  <h1>Uhoh, it doesn't look like there are any {{ theme.ideas_context }} to show you!</h1>
  {% if current_user %}
  <p>Add a {{theme.idea_context}} by using the 'Add {{theme.idea_context}}' button.</p>
  {% else %}
  <p>Login with Twitter or Facebook to be the first to add a {{theme.idea_context}}.</p>
  {% endif %}
</div>
  
{% endif %}


