    <div id="main" role="main" class="row">

      <div id="single" class="span11 offset2">

          <div id="actions">
            <a href="#comments" title="link to comments for this entry" class="comments">{{idea.comments_count}}</a>

            {% if idea.liked? %}
            <span class="liked">{{idea.likes}}</span>
            {% else %}
            <div class="likes" the_link="{{idea.like_link}}"><span class="likecount">{{idea.likes}}</span></div>
            {% endif %}

  {% if idea.user.uuid == current_user.uuid %}
  <a href="{{idea.permalink}}/edit" title="link to edit {{idea.title}}" class="editbtn">edit</a>
  {% endif %}


            <div id="share-button">
              <a href="http://twitter.com/home/?status={{space.title}} - {{idea.title}}: {{space.permalink}}/{{idea.permalink}}" target="_blank" title="share on Twitter" class="share twitter"><i></i>share on Twitter</a>
              <a href="#" title="#" class="share facebook"><i></i>share on Facebook</a>
            </div>
          </div>

          <h1>{{idea.title}}</h1>
          <div class="meta"><div class="time">{{idea.custom1}} minutes</div><div class="difficulty {{idea.custom2}}">{{idea.custom2}}</div><div class="author"><a href="{{idea.user.profile_url}}" title="link to profile of {{idea.user.nickname}} on {{idea.user.provider}}"><img src="{{idea.user.image_url}}" alt="avatar for {{idea.user.nickname}}" width="18" height="18" class="avatar" /></a> added by <a href="{{idea.user.profile_url}}" title="link to profile of {{idea.user.nickname}} on {{idea.user.provider}}">{{idea.user.nickname}}</a></div></div>

          <div id="single-main">
            <div id="item-list" class="span4 offset2">
              <h3>Ingredients</h3>
              {{idea.custom3 | markdown}}
            </div>

            <div id="content" class="span7">
              <img src="{{idea.images.first.medium_large}}" alt="photograph for {{idea.title}}" class="main-image" />

              <div id="detail">
                <h3>Method / Instruction</h3>
                {{idea.content | markdown}}
              </div>
            </div>
          </div>

      </div>

      <div id="comments" class="span11 offset2">
        <h2>Comments</h2>

        {% if current_user %}
        <a href="#comment-form" title="link to add a new {{ theme.comment_context }}" class="btn add-comment">Add {{ theme.comment_context }}</a>
        {% endif %}

        <ul id="comments-list">
        {% if idea.comments != empty %}
          {% for comment in idea.comments %}
          <li>
            <a href="{{comment.user.profile_url}}" title="link to profile of {{comment.user.nickname}} on {{comment.user.provider}}"><img src="{{comment.user.image_url}}" alt="avatar for {{comment.user.nickname}}" width="60" height="60" class="avatar" /></a>
            <div class="comment-content"><i></i>{{comment.body | markdown}}</div>
            <div class="comment-meta">by <a href="{{comment.user.profile_url}}" title="Profile of {{comment.user.nickname}} on {{comment.user.provider}}">{{comment.user.nickname}}</a><br /> {{ comment.created_at | human_time_distance }} ago</div>
          </li>
          {% endfor %}
        {% else %}
          <li>
            There aren't any {{ theme.comments_context }} here yet, why not be the first to say something!
          </li>
        {% endif %}
        </ul>

        {% if current_user %}
        <div id="comments-form">
            <h3>Add a {{ theme.comment_context }}</h3>
            <form action="{{idea.permalink}}/comments" method="post" charset="utf-8">
                <div class="input"><textarea id="comment_body" name="comment[body]"></textarea></div>
                <div class="checkarea"><input class="checkbox" type="checkbox" id="comment_should_post_to_social" name="comment[should_post_to_social]" value="1" checked="checked" /> share this {{ theme.comment_context }} to {{current_user.provider}}?</div>
                <input type="submit" name="submit" value="Post {{ theme.comment_context }}" class="btn primary" />
            </form>
        </div>
        {% else %}
        <div id="comments-auth">
            <h3>add a comment</h3>
            <div class="alert-message tip"><i></i><p>login with Twitter or Facebook to add {{ theme.comments_context }}</p></div>
            <ul class="auth">
                <li class="twitter"><a href="/auth/twitter" class="button"><span></span>Twitter</a></li>
                <li class="facebook"><a href="/auth/facebook" class="button"><span></span>Facebook</a></li>
            </ul>
        </div>
        {% endif %}
      </div>

<!--
      <div id="post-navigation">
        <a href="#" title="#" class="prev">previous post</a>
        <a href="#" title="#" class="next">next post</a>
      </div>
-->

    </div>
